<%# TODO: company details page %>

<h1><%= @company["name"] %></h1>

<p>
    <%= @company["name"] %> is located in the city of <%= @company["city"]%>, in the state of <%= @company["state"]%>
</p>

<h2>

    <a href="/companies"> Back to all companies </a>

</h2>